.DS_Store
.sync-conflict-20230326-155925-36EYDPY.DS_Store
.env
if.py 
DTM-Mono.otf
ffmpeg
/memes
/Mat_bot
/venv
/misc_ignore
/Scarf-Player
shop.json
Test.json
ralsei_faces/.sync-conflict-20230331-202032-36EYDPY.DS_Store
